body {
  background: linear-gradient(135deg, #00bfff, #1e3c72);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(21, 21, 26, 0.614);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  /* TODO: add shadow */
  display: flex;
}
